.container {
	max-width: 1180px;
	padding: 0 10px;
	margin: 0 auto;
}

.none {
	display: none;
}
.block {
	display: block;
}
.center {
	margin: 0 auto;
	text-align: center;
}

.logo {
	display: flex;
	align-items: center;
}
.logo-icon {
	max-width: 52px;
	height: 32px;
	margin-right: 10px;
}
.logo-title {
	font-size: 22px;
	font-family: "SeoulHang", sans-serif;
	text-transform: uppercase;
	color: #bcbcbc;
}

.title {
	max-width: 480px;
	font-weight: 700;
	font-size: 38px;
	color: $dark;
	@media (max-width: 768px) {
		padding-top: 20px;
		font-size: 25px;
	}
}

.section {
	@media (max-width: 600px) {
		padding-bottom: 40px;
	}
	// .section__title

	&__title {
		max-width: 480px;
		font-size: 42px;
		padding-top: 100px;
		padding-bottom: 50px;
		margin: 0 auto;
		@media (max-width: 768px) {
			font-size: 34px;
			padding-top: 60px;
		}
	}

	// .section__desc

	&__desc {
		max-width: 480px;
		margin: 0 auto;
		margin-bottom: 100px;
		@media (max-width: 768px) {
			font-size: 14px;
		}
	}
}
.btn {
	padding: 18px 23px 18px 31px;
	border-radius: 5px;
	color: $white;
	display: flex;
	align-items: center;
	&::after {
		content: "";
		width: 25px;
		height: 14px;
		margin-left: 10px;
		background-image: url(/img/arrow-right-btn.svg);
		background-repeat: no-repeat;
		background-size: 25px 14px;
	}
}
