$white: #ffffff;
$blue-light: #f1f6fa;

$black: #000000;
$dark: #4f4f4f;
$dark-light: #76767a;
$grey-primary: #cccccc;
$grey-second: #bcbcbc;
$accent: #ceac6a;
$accent-light: #e3d0aa;
$green: #84c57a;
