.facts {
	text-align: center;
	// .facts__container

	&__container {
		position: relative;
		&::before,
		&::after {
			position: absolute;
			font-weight: 700;
			font-size: 150px;
			color: $accent-light;
			top: 110px;
			@include _768 {
				font-size: 110px;
			}
		}
		&::before {
			content: "“";
			left: 0;
		}
		&::after {
			content: "”";
			right: 0;
		}
	}

	.facts-slider {
	}
	.facts-slide {
		padding: 0 64px;
		color: $accent;
		position: relative;
		text-align: center;
		@include _600 {
			padding: 0 24px;
		}
	}
	.facts-slide-title {
		color: inherit;
		font-weight: 400;
		font-size: 25px;
		margin-bottom: 10px;
	}
	.facts-slide-text {
		max-width: 780px;
		color: inherit;
		margin: 0 auto;
		line-height: 37px;
		font-weight: 400;
		font-size: 25px;
		padding-bottom: 20px;
		@include _768 {
			font-size: 16px;
		}
	}
}
/* Ограничивающая оболочка */
.slick-list {
	margin: 0 50px;
}
/* Лента слайдов */

/* Точки (булиты) */
.slick-dots {
	width: max-content;
	display: flex;
	margin: 0 auto;
}
.slick-dots li {
	width: 8px;
	height: 8px;
	margin-right: 32px;
	display: flex;
	border-radius: 50px;
	background: #cccccc;
	cursor: pointer;
	&:last-child {
		margin-right: 0;
	}
}
/* Активная точка */
.slick-dots li.slick-active {
	background-color: $accent-light;
	width: 10px;
	height: 10px;
	display: flex;
	padding: 5px;
}
.slick-dots li.slick-active button {
}
/* Элемент точки */
.slick-dots li button {
	display: none;
}
.arrow_next,
.arrow_prev {
	width: 25px;
	height: 20px;
	color: $grey-primary;
	transition: color linear 0.2s;
	position: absolute;
	cursor: pointer;
	bottom: 0;
	&:hover {
		color: $dark;
	}
	@include _600 {
		bottom: -42px;
	}
}
.arrow_next {
	right: 33%;
	z-index: 500;
	@include _979 {
		right: 21%;
	}
}
.arrow_prev {
	left: 33%;
	z-index: 500;
	@include _979 {
		left: 21%;
	}
}
