.footer {
	padding: 100px 0px;
	background-color: $white;

	// .footer__left
	&__container {
		display: grid;
		grid-template-columns: repeat(4, 25%);
		@media (max-width: 850px) {
			display: flex;
			justify-content: space-between;
			padding: 0 10px;
		}
	}
	&__left {
		max-width: 280px;
		@media (max-width: 850px) {
			display: none;
		}
	}

	// .footer__left-text

	&__left-text {
		padding-right: 70px;
		margin-top: 21px;
	}

	// .footer__nav

	&__nav {
		color: #bcbcbc;
	}

	// .footer__nav-title

	&__nav-title {
		margin-bottom: 30px;
		font-weight: 500;
		color: inherit;
	}

	// .footer__nav-list

	&__nav-list {
	}

	// .footer__nav-item

	&__nav-item {
		color: inherit;
		margin-bottom: 30px;
	}

	// .footer__nav-link

	&__nav-link {
		transition: opacity linear 0.2s;
		&:hover {
			opacity: 0.8;
		}
	}

	// .footer__nav-item-auth

	&__nav-item-auth {
	}

	// .footer__nav-item-social

	&__nav-item-social {
	}

	// .footer__nav-item-social-btn

	&__nav-item-social-btn {
		width: 16px;
		height: 16px;
		margin-right: 40px;
		&:last-child {
			margin-right: 0;
		}
	}
}
