.our-clients {
	// .our-clients__container

	&__container {
		display: flex;
		position: relative;
		@include _600 {
			flex-direction: column;
		}
	}

	// .our-clients__content

	&__content {
		max-width: 500px;
		@include _768 {
			max-width: 300px;
		}
		@include _600 {
			max-width: 90%;
			margin: 0 auto;
		}
	}

	// .our-clients__list

	&__list {
		display: flex;
		flex-direction: column;
		width: 100%;
		@include _600 {
			flex-direction: row;
			flex-wrap: wrap;
		}
	}

	// .our-clients__item

	&__item {
		width: 100%;
		display: flex;
		position: relative;
		display: flex;
		flex-direction: column;
		padding-left: 100px;
		margin-top: 50px;

		&:first-child {
			margin-top: 0;
		}

		@include _768 {
			padding-left: 70px;
		}
	}

	// .our-clients__item-icon

	&__item-logo {
		position: absolute;
		left: 0;
		top: 0;
		width: 70px;
		height: 70px;
		background: rgba(227, 208, 170, 0.3);
		border-radius: 100px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		@include _768 {
			width: 50px;
			height: 50px;
		}

		img {
			z-index: 5;
			@include _768 {
				width: 30px;
				height: 30px;
			}
		}
	}

	// .our-clients__item-title

	&__item-title {
	}

	// .our-clients__item-text

	&__item-text {
		@include _768 {
			font-size: 14px;
		}
	}

	// .our-clients__preview

	&__preview {
		position: absolute;
		right: 0;
		top: 0;
		max-width: 402px;
		max-height: 1000px;
		padding-right: 80px;

		@include _600 {
			max-width: 100%;
			position: relative;
			margin: 0 auto;
			padding-right: 0px;
		}

		img {
			width: 100%;
			height: auto;
			@include _768 {
				max-width: 300px;
				height: 800px;
			}
		}
	}
}
.container {
}

.img {
}
