.reviews {
	padding-bottom: 100px;
	&__container {
		max-width: 1500px;
		position: relative;
	}
	& .slick-list {
		max-height: 530px;
	}
	& .slick-track {
	}
	& .slick-slide {
	}

	& .section__title,
	.section__desc {
		margin: 0 auto;
		text-align: center;
		margin-bottom: 50px;
	}
	& .section__desc {
		text-align: center;
		margin-bottom: 100px;
	}
	& .slick-dots {
		position: absolute;
		bottom: 58px;
		left: 42%;
		@include _979 {
			bottom: 108px;
		}
	}
	& .arrow_next,
	& .arrow_prev {
		bottom: 58px;
		@include _979 {
			bottom: 103px;
		}
		@include _768 {
		}
	}
	& .arrow_next {
		right: 43%;
		@include _979 {
			right: 37%;
		}
		@include _768 {
			right: 25%;
		}
	}
	& .arrow_prev {
		left: 33%;
		@include _768 {
			left: 24%;
		}
	}
}

.reviews-slider {
}
.reviews-slider-item {
	&:nth-child(1) {
		.reviews-slider-item-img {
		}
	}
}
.reviews-slider-item-img {
	width: 90%;
}
.reviews-slider-item-desc {
	padding-top: 130px;
	@include _768 {
		padding-top: 150px;
		padding-left: 10px;
		padding-right: 10px;
		font-size: 10px;
	}
}
