.target-app {
	// .target-app__container

	&__container {
		display: flex;
		justify-content: space-between;
		position: relative;
		@include _979 {
			flex-direction: column;
		}
	}

	// .target-app__content

	&__content {
	}

	// .target-app__list

	&__list {
	}

	// .target-app__item

	&__item {
		display: flex;
		margin-bottom: 50px;
		max-width: max-content;
		@include _979 {
			margin: 0 auto;
			margin-bottom: 30px;
		}
	}

	// .target-app__item-icon

	&__item-icon {
		width: 70px;
		height: 70px;
		margin-right: 30px;
		background: rgba(227, 208, 170, 0.3);
		border-radius: 100px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	// .target-app__item-img

	&__item-img {
		width: 40px;
		height: 40px;
		margin: 0 auto;
	}

	// .target-app__item-info

	&__item-info {
		display: flex;
		flex-direction: column;
		max-width: 380px;
	}

	// .target-app__item-title

	&__item-title {
		margin-bottom: 20px;
		@include _979 {
			margin-bottom: 10px;
		}
	}

	// .target-app__item-text

	&__item-text {
	}
}
